/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Macondo&family=Petrona:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary-font: "Petrona", sans-serif;
    --secondary-font: "Macondo", cursive;
    --primnary-color:  #913C3C;
    --secondary-color: #E1DBD5;
    --highlight-color: #111550;
    --light-highlight-color: #D69E9E;
}

/* Navbar */

#navbar {
    background-color: var(--primnary-color);
    font-size: 1.2rem;
    font-weight: 700;
}

#navbar img {
    width: 30px;
}

#header .lead {
    text-align: justify;
}

#competition .lead {
    text-transform: capitalize;
}


/* Global Styles */

body {
    font-family: var(--primary-font);
}

h1,h2,h3 {
    font-family: var(--secondary-font);
    color: var(--primnary-color); 
    text-transform: uppercase;   
}

.sub-heading-color {
    color: var(--highlight-color);
}

.section {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

/* .container,
.row {
    border: 2px solid black;
}

.col-12 {
    border: 2px solid yellow;
} */