/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/* Google fonts import */
@import url("https://fonts.googleapis.com/css2?family=Macondo&family=Petrona:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --primary-font: "Petrona", sans-serif;
  --secondary-font: "Macondo", cursive;
  --primary-color: #913c3c;
  --secondary-color: #e1dbd5;
  --highlight-color: #111550;
  --light-highlight-color: #d69e9e;
}

/* Global Styles */

body {
  font-family: var(--primary-font);
  background-color: rgb(247, 244, 244);
  padding-top: 65px; /* Adjust this value based on your navbar height */
}

h1,
h2,
h3,
h4 {
  font-family: var(--secondary-font);
  color: var(--primary-color);
  text-transform: uppercase;
}

h5 {
  font-family: var(--primary-font);
  color: var(--primary-color);
  text-transform: none;
}

.sub-heading-color {
  color: var(--highlight-color);
}

h3.sub-heading-color {
  color: var(--highlight-color);
  text-transform: none;
}

#name {
  color: var(--highlight-color);
  font-weight: 400;
}

.section {
  padding: 4rem; /*Prevent the navbar from overlapping content */
}

/* Buttons */

.custom-button-filled {
  border: 2px solid var(--light-highlight-color);
  background-color: var(--highlight-color);
  color: var(--secondary-color);
}

.custom-button-filled:hover {
  border: 2px solid var(--primary-color);
  background-color: var(--light-highlight-color);
  color: var(--highlight-color);
}

/* Navbar */

#navbar {
  background-color: var(--primary-color);
  font-size: 1.2rem;
}

#navbar .nav-link {
  color: var(--secondary-color);
  font-weight: 700;
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

/* Ensure the Book now button size matches all the links */

#navbar .nav-link,
#navbar .btn {
  font-size: 1.2rem;
}

#navbar .nav-link:hover {
  color: var(--highlight-color);
}

/* Cor do link quando estiver ativo */
.navbar-nav .nav-link.active {
  color: black !important; /* Cor de destaque (ex: Tomate) */
  font-weight: bold;
}

/* Header */

#header .lead {
  text-align: justify;
}

.card-img-top {
  height: 200px;
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
}

/* Competition Section */

#competition .lead {
  text-transform: capitalize;
}

/* footer | Contact */

#contact {
  background-color: var(--secondary-color);
  padding-bottom: 2.5rem;
}

#bigger {
  font-size: 18px;
}

#contact i {
  font-size: 1rem;
  margin-right: 0.9px;
}

#contact .social-links i {
  font-size: 1.5rem;
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

#contact .social-links i:hover {
  color: var(--primary-color);
}

.social-links a {
  text-decoration: none;
}
